* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.slider {
  display: flex;
  width: 320px;
  overflow: hidden;
  margin: 40px auto 0;
  border: 1px solid red;
  padding: 20px;
}
.slider-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  left: 200px;
}
.slide {
  position: relative;
  left: -200px;
  min-width: 200px;
  height: 200px;
  margin: 10px 5px;
  background-color: red;
  color: #fff;
  font-size: 5rem;
}
